name: Release

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml

  release:
    name: Release
    environment: release
    needs: [ ci ]
    runs-on: ubuntu-20.04

    permissions:
      id-token: write

    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Prepare release assets
      run: |
        mkdir -p assets
        cp artifacts/*/*.whl assets

    - name: Upload release assets
      uses: softprops/action-gh-release@v2
      with:
        files: |
          assets/*.whl

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: assets/
